<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/createCV.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="avatar">
            <img id="avatar-img" src="https://i.pinimg.com/564x/eb/57/6f/eb576ff023487bcb1fa3ad61ee7b23ee.jpg" alt="">
            <input type="file" id="avatar-input" accept="image/*" style="display: none;">
            <button id="avatar-btn">Chọn ảnh</button>
        </div>
        <div class="name">
            <h1 contenteditable="true">HO HOANG</h1>
            <div class="specialize" contenteditable="true">Front-End Developer</div>
            <!-- <ul class="contact">
                <li><span>P</span> <span contenteditable="true">+84123456789</span></li>
                <li><span>E</span> <span contenteditable="true">hohoang.dev@gmail.com</span></li>
                <li><span>W</span> <span contenteditable="true">lundevweb.com</span></li>
            </ul> -->
            <div class="contactPhone" contenteditable="true"> +84123456789</div>
            <div class="contactPhone" contenteditable="true"> hohoang.dev@gmail.com</div>
            <div class="contactPhone" contenteditable="true"> lundevweb.com</div>
        </div>
        <div class="info">
            <div class="Info" contenteditable="true"> From HCMC - VietNam</div>
            <div class="Info" contenteditable="true"> 01/01/0101</div>
            <div class="Info" contenteditable="true"> AAAA University</div>
        </div>
        <div class="intro">
            <h2>INTRODUCE</h2>
            <div class="gt" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eligendi omnis quasi dolores modi eius aliquam ipsum soluta, dolore tenetur excepturi praesentium porro alias itaque enim labore qui necessitatibus molestias hic cum deserunt ab!
                Illum sed eveniet distinctio, alias sunt repudiandae labore a dolorum tenetur? Harum deleniti mollitia odio neque.</div>


        </div>
        <div class="experience">
            <h2>EXPERIENCE</h2>

            <div class="item">
                <h4 contenteditable="true">Frond-end Developer</h4>
                <div class="time" contenteditable="true">2020 - 2022</div>
                <div class="company" contenteditable="true">ABC D company</div>
                <div class="des" contenteditable="true">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium officia nobis quas excepturi consectetur quidem quia est neque doloremque.
                </div>
            </div>

            <div class="item">
                <h4 contenteditable="true">Student</h4>
                <div class="time" contenteditable="true">2015 - 2019</div>
                <div class="company" contenteditable="true">ACDC University</div>
                <div class="des" contenteditable="true">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium officia nobis quas excepturi consectetur quidem quia est neque doloremque.
                </div>
            </div>
            <h2 class="skills" contenteditable="true">
                SKILLS
            </h2>
            <ul contenteditable="true">
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Javascript</li>
                <li>PHP</li>
                <li>MySql</li>
                <li>Git</li>
                <li>Laravel</li>
            </ul>

        </div>
        <div class="project" contenteditable="true">
            <h2>PROJECTS</h2>
            <div class="item">
                <h4>Website shopping</h4>
                <div class="time">
                    2020
                </div>
                <div class="web">
                    www.lundevweb.com
                </div>
                <div class="location">
                    Frond-end Developer
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur amet sed, est eum facilis repellendus atque perspiciatis iste porro nobis autem explicabo expedita fugiat nostrum. Eveniet eum autem culpa!
                    <ul>
                        <li>Lorem ipsum dolordolores.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, dolores.</li>
                        <li>Lorem ipsum dolor sit amet consectetur dolores.</li>
                    </ul>
                </div>
            </div>

            <div class="item">
                <h4>Website shopping</h4>
                <div class="time">
                    2020
                </div>
                <div class="web">
                    www.lundevweb.com
                </div>
                <div class="location">
                    Frond-end Developer
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur amet sed, est eum facilis repellendus atque perspiciatis iste porro nobis autem explicabo expedita fugiat nostrum. Eveniet eum autem culpa!
                    <ul>
                        <li>Lorem ipsum dolordolores.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, dolores.</li>
                        <li>Lorem ipsum dolor sit amet consectetur dolores.</li>
                    </ul>
                </div>
            </div>

            <div class="item">
                <h4>Website shopping</h4>
                <div class="time">
                    2020
                </div>
                <div class="web">
                    www.lundevweb.com
                </div>
                <div class="location">
                    Frond-end Developer
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur amet sed, est eum facilis repellendus atque perspiciatis iste porro nobis autem explicabo expedita fugiat nostrum. Eveniet eum autem culpa!
                    <ul>
                        <li>Lorem ipsum dolordolores.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, dolores.</li>
                        <li>Lorem ipsum dolor sit amet consectetur dolores.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="js/uploadImg.js">
</script>

</html>