<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout/default"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/create-resume-style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hup"
          rel="stylesheet">
</head>
<body>
<form th:action="@{/resume/preview}" th:method="post" th:object="${resumeDto}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark">General Information</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="resume-user mb-5">
                                <i class="mdi mdi-account text-white"></i>
                            </div>
                        </div>
                    </div>

                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="frist-name">First Name</label>
                                        <input class="form-control resume" id="frist-name" placeholder=""
                                               th:field="*{firstName}" type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="middle-name">Middle Name</label>
                                        <input class="form-control resume" id="middle-name" placeholder=""
                                               th:field="*{middleName}" type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="surname-name">Surname</label>
                                        <input class="form-control resume" id="surname-name" placeholder=""
                                               th:field="*{surName}" type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="date-of-birth">Date Of Birth</label>
                                        <input class="form-control resume" id="date-of-birth" placeholder="13-02-1999"
                                               th:field="*{dateOfBirth}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="General">Sex</label>
                                        <div class="form-button">
                                            <select class="nice-select" th:field="*{sex}">
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Other</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="date-of-birth">Job title</label>
                                        <input class="form-control resume" placeholder="Ex: Senior Software Architecture"
                                               th:field="*{jobTitle}"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-5">Contact Information</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="date-of-birth">City</label>
                                        <input class="form-control resume" th:field="*{city}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="date-of-birth">State</label>
                                        <input class="form-control resume" th:field="*{state}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="date-of-birth">Country</label>
                                        <input class="form-control resume" th:field="*{country}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="phone">Phone</label>
                                        <input class="form-control resume" id="phone" placeholder="" th:field="*{phone}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="e-mail">E-mail</label>
                                        <input class="form-control resume" id="e-mail" placeholder=""
                                               th:field="*{email}" type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="website">Website</label>
                                        <input class="form-control resume" id="website" placeholder=""
                                               th:field="*{website}" type="text">
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-5">Education Details</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="graduation">Graduation</label>
                                        <input class="form-control resume" id="graduation" placeholder=""
                                               th:field="*{graduation}" type="text">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="university/college">University/College</label>
                                        <input class="form-control resume" id="university/college"
                                               placeholder="" th:field="*{university}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted"
                                               for="degree/certification">Degree/Certification</label>
                                        <input class="form-control resume" id="degree/certification"
                                               placeholder="" th:field="*{degree}"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-5">Work Experience</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="company-name">Company Name</label>
                                        <input class="form-control resume" id="company-name" placeholder=""
                                               th:field="*{companyName}" type="text">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="job-position">Job Position</label>
                                        <input class="form-control resume" id="job-position" placeholder=""
                                               th:field="*{jobPosition}" type="text">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="location">Location</label>
                                        <input class="form-control resume" id="location" placeholder=""
                                               th:field="*{location}" type="text">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted" for="date-from">Date From</label>
                                                <input class="form-control resume" id="date-from" placeholder="01-Jan-2018"
                                                       th:field="*{dateFrom}"
                                                       type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted" for="date-to">Date To</label>
                                                <input class="form-control resume" id="date-to" placeholder="31-March-2019"
                                                       th:field="*{dateTo}"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label for="addition-information-1">Detail contribution</label>
                                        <textarea class="form-control resume" id="addition-information-1"
                                                  placeholder="" rows="4"
                                                  th:field="*{detailContribution}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-5">Skills</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label class="text-muted" for="skills">Skills</label>
                                        <input class="form-control resume" id="skills" placeholder="HTML, CSS, PHP, javascript, ..."
                                               th:field="*{skill}"
                                               type="text">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <input class="submitBnt btn btn-custom mt-5" id="submit" name="send" type="submit"
                           value="Submit and preview resume">
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>