<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>


<!-- font -->

<head>
    <meta charset="UTF-8">
    <title>Sign up </title>
    <link rel="stylesheet" th:href="@{/css/signup-style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<!-- start here -->

<body id="body">

<div class="form">

    <h2>Sign up</h2>

    <form th:action="@{'/homepage'}"   th:object="${userForm}" th:method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" />
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" />
            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password error</span>
        </div>

        <select name="role" th:field="*{role}" >
            <option value="Employee">Employee</option>
            <option value="Employer">Employer</option>
        </select>
        <button  type="submit">Sign up</button>
    </form>

</div>

<div class="circle"></div>
<div class="circle-1"></div>
<div class="circle-2"></div>
</body>
</html>